body {
	padding: 0;
	margin: 0;

	background: #fefefe;
	font-family: "Ubuntu", sans-serif;
	color: #444;

	line-height: 1.6;
}

*::-moz-selection {
	color: rgba(255, 255, 255, 0.8);
	background: #89ADB3;
}

*::-webkit-selection {
	color: rgba(255, 255, 255, 0.8);
	background: #89ADB3;
}

*::-ms-selection {
	color: rgba(255, 255, 255, 0.8);
	background: #89ADB3;
}

*::-o-selection {
	color: rgba(255, 255, 255, 0.8);
	background: #89ADB3;
}

*::selection {
	color: rgba(255, 255, 255, 0.8);
	background: #89ADB3;
}

.post-body {
	font-size: 20px; 
}

/*.post-body > p:first-of-type::first-letter {
	color: #72DEF0;
	font-size: 3em;
	float: left;
	line-height: .8;
	font-weight: bold;
	margin: 0 6px 0 0;
}*/

.wrapper {
	padding: 10px 15px;
	max-width: 50em;
	margin: 0 auto;
}

.navwrapper {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 50em;
}

a {
	color: #444;
	font-weight: bold;
	transition: 0.2s color;
}

a:hover {
	color: #89ADB3;
}

pre {
	display: inline-block;
	overflow: scroll;
	box-sizing: border-box;
	width: 100%;
	font-family: monospace;
	font-size: 15px;
}

header .date {
	color: #aaa;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
	margin-bottom: -10px;
}

header h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: 2em;
}

ul.navlinks li {
	display: inline-block;
	margin: 0 30px 0 0;
}

ul.navlinks li a {
	text-decoration: none;
	color: #aaa;
	transition: 0s;
}

ul.navlinks li a.current,
ul.navlinks li a:hover {
	color: #444;
}

.hidden {
	display: none;
}

.navlinks {
	padding: 0;
}

ul {
	padding-left: 20px;
}

blockquote {
	color: #aaa;
	font-style: italic;
	border-left: 5px solid #aaa;
	padding-left: 20px;
	margin-left: 0;
}

blockquote em {
	font-style: normal;
} 

blockquote a {
	color: #aaa;
}

.page-body h1 {
	font-size: 2.5em;
	text-transform: uppercase;
}

code {
	font-family: monospace;
}

.post {
	margin-bottom: 20px;
}

.admonition {
	padding-left: 20px;
}

.admonition.note {
	border-left: 5px solid #89ADB3;
}

.admonition.danger {
	border-left: 5px solid #D57526;
}

.admonition.warning {
	border-left: 5px solid #BD442E;
}

.admonition.note .admonition-title {
	color: #89ADB3;
}

.admonition.warning .admonition-title {
	color: #BD442E;
}

.admonition.danger .admonition-title {
	color: #D57526;
}

.admonition p {
	margin-top: 0;
}

.admonition-title {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 0;
	text-transform: capitalize;
}

img {
	max-width: 100%;
}

.browse-all,
.older-newer {
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
}

.older-newer span {
	font-weight: bold;
	text-decoration: underline;
	color: #aaa;
}

html,body {
	min-height: 100vh;
}

.center {
	align-items: center;
	display: flex;
	justify-content: center;
}

input[type="text"],
input[type="password"] {
	border: 0;
	border-bottom: 1px solid #444;
	width: 100%;
	margin-bottom: 5px;
	transition: 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus {
	border-bottom: 1px solid #89ADB3;
}

button[type="submit"] {
	width: 100%;
}