body {
	padding: 0;
	margin: 0;

	background: #fefefe;
	font-family: "Ubuntu", sans-serif;
	color: #444;

	line-height: 1.6;
}

*::-moz-selection {
	color: rgba(255, 255, 255, 0.8);
	background: #72DEF0;
}

*::-webkit-selection {
	color: rgba(255, 255, 255, 0.8);
	background: #72DEF0;
}

*::-ms-selection {
	color: rgba(255, 255, 255, 0.8);
	background: #72DEF0;
}

*::-o-selection {
	color: rgba(255, 255, 255, 0.8);
	background: #72DEF0;
}

*::selection {
	color: rgba(255, 255, 255, 0.8);
	background: #72DEF0;
}

.post-body {
	font-size: 20px; 
}

/*.post-body > p:first-of-type::first-letter {
	color: orange;
	font-size: 3em;
	float: left;
	line-height: .8;
	font-weight: bold;
	margin: 0 6px 0 0;
}*/

.wrapper {
	padding: 10px 15px;
	max-width: 50em;
	margin: 0 auto;
}

a {
	color: #444;
	font-weight: bold;
	transition: 0.2s color;
}

a:hover {
	color: #72DEF0;
}

pre {
	display: inline-block;
	overflow: scroll;
	box-sizing: border-box;
	width: 100%;
	font-family: monospace;
	font-size: 15px;
}

header .date {
	color: #aaa;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
	margin-bottom: -10px;
}

header h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: 2em;
}

ul.navlinks li {
	display: inline-block;
	margin: 0 30px 0 0;
}

ul.navlinks li a {
	text-decoration: none;
	color: #aaa;
	transition: 0s;
}

ul.navlinks li a.current,
ul.navlinks li a:hover {
	color: #444;
}

.hidden {
	display: none;
}

.navwrapper {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 50em;
}

.navlinks {
	padding: 0;
}
