{% extends "blog/base.html" %}
{% load blog_filters %}

{% block title %}Posts in {{ category.name }}{% endblock %}
{% block ogtitle %}Posts in {{ category.name }}{% endblock %}
{% block content %}
<div class="category-info">
	<h1>{{ totalposts }} post{{ totalposts|pluralize }} {% if category.name != "All" %}in {{ category.name }} {% endif %}(Page {{ page }} of {{ pages }})</h1>
</div>
{% for post in posts %}
	<div class="post-full">
		<article class="post">
			<header>
				<div class="date">{{ post.pub_date|date:"M j, Y"|upper }} {% if not post.published %} - Draft {% endif %}</div>
				<h2><a href="{% url "blog:viewpost" post.permalink %}">{{ post.post_title }}</a></h2>
			</header>
			<div class="post-body">
				{% autoescape off %}
				{{ post.post_body|markdown:False|linkify|truncatewords_html:500 }}
				{% endautoescape %}
			</div>
			{% if post.post_body|markdown:False|linkify|wordcount > 500 %}
				<a href="{% url "blog:viewpost" post.permalink %}" class="readmore">Read more</a>
			{% endif %}
		</article>
	</div>
{% endfor %}
<div class="older-newer">
	{% if page < pages %}
		<a href="{% url 'blog:categorypage' category.link page|add:"1" %}" class="older">&laquo; Older</a>
	{% else %}
		<span class="older disabled">&laquo; Older</span>
	{% endif %}
	{% if page > 1 %}
		<a href="{% url 'blog:categorypage' category.link page|add:"-1" %}" class="newer">Newer &raquo;</a>
	{% else %}
		<span class="newer disabled">Newer &raquo;</span>
	{% endif %}
</div>
{% endblock %}