{% extends "blog/base.html" %}
{% load blog_filters %}

{% block title %}Home{% endblock %}
{% block ogtitle %}Home{% endblock %}
{% block content %}
{% for post in posts %}
	<div class="post-full">
		{% load emojione %}
		<article class="post">
			<header>
				<div class="date">{{ post.pub_date|date:"M j, Y"|upper }} {% if not post.published %} - Draft {% endif %}</div>
				<h2><a href="{% url "blog:viewpost" post.permalink %}">{{ post.post_title }}</a></h2>
			</header>
			<div class="post-body">
				{% autoescape off %}
				{% to_image post.post_body|markdown:False|linkify|truncatewords_html:500 %}
				{% endautoescape %}
			</div>
			{% if post.post_body|markdown:False|linkify|wordcount > 500 %}
				<a href="{% url "blog:viewpost" post.permalink %}" class="readmore">Read more</a>
			{% endif %}
		</article>
	</div>
{% endfor %}
<div class="browse-all">
	<a href="{% url "blog:category" category="all" %}">Browse all posts</a>
</div>
{% endblock %}