{% extends "blog/base.html" %}
{% load blog_filters %}
{% block title %}{{ post.post_title }}{% endblock %}
{% block og %}
		<meta name="og:title" content="{{ post.title }} | pta2002">
		<meta name="og:description" content="{{ post.post_body|truncatewords:50 }}">
{% endblock %}
{% block content %}
<div class="post-full">
	<article class="post">
		<header>
			<div class="date">{{ post.pub_date|date:"M j, Y"|upper }}{% if not post.published %} - Draft {% endif %}</div>
			<h2>{{ post.post_title }}</h2>
		</header>
		<div class="post-body">
			{% autoescape off %}
			{% load emojione %}
			{% to_image post.post_body|markdown:False|linkify %}
			{% endautoescape %}
		</div>
	</article>
	{% if post.comments %}
		{% disqus_comments 'https://pta2002.com/post/'|add:post.permalink post.permalink post.title %}
	{% else %}
		Comments are disabled
	{% endif %}
</div>
{% endblock %}