{% extends "blog/base.html" %}
{% block title %}{{ post.post_title }}{% endblock %}
{% block content %}
<article class="post {% if not post.published %}draft{% endif %}">
	<h2 class="post-title">
		<div class="row">
			<div class="col-sm-9">
				{{ post.post_title }}
			</div>
		{% if not post.published %}
			<div class="col-sm-3">
				<span class="draft-notice">Draft</span>
			</div>
		{% endif %}
		</div>
	</h2>
	<div class="post-body">
		{% load blog_filters %}
		{% autoescape off %}
			{{ post.post_body|markdown }}
		{% endautoescape %}
	</div>
</article>
{% endblock %}