{% extends "blog/base.html" %}
{% block title %}{{ page.page_name }}{% endblock %}
{% block og %}
        <meta name="og:title" content="{{ page.page_name }} | pta2002">
        <meta name="og:description" content="{{ page.page_body|truncatewords:50 }}">
{% endblock %}
{% block content %}
<article class="page">
    <div class="page-body">
        {% load blog_filters %}
        {% autoescape off %}
            {{ page.page_body|markdown:False|linkify }}
        {% endautoescape %}
    </div>
</article>
{% endblock %}